flower_class_list{
    padding-top: 20px;
    padding-left: 30px;
    background: black;
    width: 20%;
    size: 30px;
}
class{
    font-family: "Arial Black", sans-serif;
    font-size: medium;
    color: red;
    display: block;
    font-style: oblique;
}
flower_production{
    padding-top: 20px;
    font-family: "Arial Black",sans-serif;
    font-size: large;
    color: red;
    font-style: italic;
    display: grid;
}


